<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jxtzw.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:resizeable="true"
		android:anyDensity="true" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" >
        </activity>
        <activity
            android:name=".ui.TabHomeActivity"
            android:label="@string/title_activity_tab_class" >
        </activity>
        <activity
            android:name=".ui.TabQuotActivity"
            android:label="@string/title_activity_tab_class" >
        </activity>
        <activity
            android:name=".ui.TabClassActivity"
            android:label="@string/title_activity_tab_class" >
        </activity>
        <activity
            android:name=".ui.TabCollegeActivity"
            android:label="@string/title_activity_tab_college" >
        </activity>
        <activity
            android:name="com.jxtzw.app.ui.TabMemberActivity"
            android:label="@string/title_activity_tab_member" >
        </activity>
    </application>

    
</manifest>
